/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #585558;
    padding: 16px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    padding-top: -16px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #585558;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.fb:hover {
    color: #3b5998;
}

.ig:hover {
    color: #fb3958;
}

.sc:hover {
    color: #fffc00;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
  color: #ef5350;
}

.dropbtn:hover {
    color: #ef5350;
}

.backslash {
    color: #8e8e8e;
    font-weight: bold;
}

.videolink {
    color: #585558;
    font-weight: bold;
}